<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee">
    <tlib-version>1.0</tlib-version>
    <short-name>ctg</short-name>
    <uri>customtags</uri>
    <tag>
        <name>client-info</name>
        <tag-class>com.epam.creatures.tag.ClientInfoTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>buttonProfile</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>buttonLogOut</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>labelRole</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>