.error-message{
    font-size: 20px;
    color: red;
}
.succeed-message{
    font-size: 20px;
    color: green;
}
.device-button{
    height: 60px;
    font-size: 36px;
    font-family: "Segoe Print", serif;

}
.index-text{
    font-size: 36px;
    color: #000000;
}
.nice-text{
    font-size: 36px;
    color: #918d94;

}
.start-button{
    width: 100%;
}
.nice-button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: azure;
    text-decoration-style: dashed;
    display: block;
    font-size: 16px;
    opacity: 0.6;
}
.nice-button:hover{
    background-color: #c3cbff;
}
.nice-table-button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: azure;
    text-decoration-style: dashed;
    display: inline-block;
    font-size: 16px;
    opacity: 0.6;
    width: 100%;
}
.input-text{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
.login-text{
    text-decoration-style: wavy;
    text-decoration: black;
    text-shadow: aqua;
    color: black;
}
th {
    background-color: slategray;
    color: white;
}
td {
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}
.header{
    overflow: hidden;
    background-color: #ebffe8;
    padding: 20px 10px;
    border-radius: 3px;
}
.header-right{
    float: right;
}
.header-left{
    float: left;
}
.footer-logo{
    padding: 3px;
}
.footer-logo-img{
    width: 40px;
    height: 40px;
}
.footer {
    overflow: hidden;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: #ebffe8;
    padding: 2px 10px;
}
.footer-right{
    float:right;
    padding: 3px 40px;
}
.footer-left{
    float:left;
    display: flex;
}
.custom-select {
    position: relative;
    font-family: Arial, serif;
    -webkit-appearance: button;
    border: none;
    background-color: #cafff8;
    font-size: inherit;
    margin: auto;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    color: #474c77;
    letter-spacing: 2px;
}
.custom-select option{
    color: #474c77;
}
.header-panel{
    display: flex;
    background: grey no-repeat 97% center;
    padding: 9px 10px;
    border: none;
    border-radius: 4px;
    margin: auto;
}
.header-text{
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #effcff;
    font-family: Arial, serif;
}

.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.creature-container{
    display: block;
}
.creature{
    font-family: "Amaranth", sans-serif;
    display: inline-block;
    width: 100%;
    max-width: 350px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    background: #fff6d0;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}
.creature:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}
.creature-img{
    max-width: 100%;

}

.creature-body{
    padding: 20px;
}
.creature-name{
    font-size: 17px;
    font-weight: bolder;
    line-height: 1.2;
    margin: 0;
    padding: 2px;
    text-transform: uppercase;
}
.creature-creator{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    padding: 2px;
}
.creature-limbs{
    font-size: 13px;
    margin-top: 5px;
    padding: 0;
}
.creature-heads{
    font-size: 13px;
    margin-top: 5px;
    padding: 0;
}
.creature-eyes{
    font-size: 13px;
    margin-top: 5px;
    padding: 0;
}
.creature-desc{
    padding: 5px;
    font-size: 15px;
    text-align:center;
    margin-bottom: 0;
}
.creature-footer{
    padding: 20px;
    border-top: 1px solid;
}
.creature-mark{
    color: #b471ff;
    text-align: right;
}
.creature-gender{
    font-size: 15px;
    margin-top: 5px;
    padding: 0;
}
.creature-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.comment{
    font-family: "Amaranth", sans-serif;
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    background: #ddf8ff;
    box-shadow: 0 -3px 30px -5px rgba(0, 0, 0, 0.2);
}
.comment:hover{
    transform: translateY(+2px);
    box-shadow: 0 -10px 40px -5px rgba(0, 0, 0, 0.3);
}

.comment-body{
    padding: 20px;
}

.comment-creator{
    background: #d3b7cb;
    display: flex;
    padding:5px;
}
.comment-creator-avatar-img{
    width:50px;
    height:50px;
    background-color: #faffbd;
}
.comment-content{
    text-align: center;
    padding: 20px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.comment-footer{
    padding: 10px;
}
.comment-creator-avatar{
    max-width: 100%;
}
.comment-creator-name{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px;
}
.comment-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.user{
    font-family: "Amaranth", sans-serif;
    display: inline-block;
    min-width: 130px;
    max-width: 200px;
    margin:5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    background: #d3b7cb;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}
.user:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}
.user-avatar{
    max-width: 100%;
}
.user-avatar-img{
    height: 100px;
    width: 110px;
}
.user-body{
    padding: 3px 0 0;
}
.user-name{
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.2;
    margin: 0;
    padding: 0 10px 0;
    text-transform: uppercase;
}
.user-role{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 5px 2px;
}

.user-footer{
    padding: 7px;
    border-top: 1px solid;
}
.user-status{
    color: #000000;
    text-align: right;
}
.user-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.client-container{
    display: block;
}
.client{
    font-family: "Amaranth", sans-serif;
    display: inline-block;
    width: 100%;
    max-width: 350px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
    background: #ffc8f4;
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}
.client:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}
.client-avatar{
    margin: auto;
    max-width: 100%;
    padding: 5px;
}
.client-avatar-img{
    align-self: right;
    width: 100px;
    height: 100px;
    background-color: #faffbd;
}

.client-body{
    padding: 20px;
}
.client-login{
    font-size: 17px;
    font-weight: bolder;
    line-height: 1.2;
    margin: 0;
    padding: 2px;
    text-transform: uppercase;
}
.client-banned{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    padding: 2px;
}
.client-footer{
    padding: 20px;
    border-top: 1px solid;
}
.client-status{
    padding: 5px;
    color: #5882ff;
    text-align: left;
}
.client-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}